body {
	background: url(images/nasty_fabric.png);
	margin: 0;
	font-family: "news-gothic-std-1","news-gothic-std-2";
	line-height: 1.4em;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	background: url(images/F.png) no-repeat center top;
	height: 100px;
	width: 800px;
	text-indent: -9000px;
	margin: 20px 0 20px 0;
	color: #fff;
}

h2 {
	margin-top: 260px;
	margin-bottom: 5px;	
}

h3 {
	margin-bottom: 5px;
	font-weight: normal;
	color: #FFDD37;
}

hgroup {
	color: #fff;
	margin:0 0 40px 0;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";	
}

.container {
	width: 800;
	margin: 0 auto;
}

#recipes {
	padding: 15px;
	background: #fff url(images/blackyellow.png) no-repeat;
	border-top: 10px solid #222;
	box-shadow: 0 0 20px #424242;
}

article {
	margin: 250px 0 0 0;
}

#article {
	width: 220px;
	padding: 10px;
	margin: 10px;
	float: left;
	background: #10100F;
	opacity: .8;
	color: #FFDD3F;
	clear: inherit;
}

#link {
	clear: both;	
}

#welcome {
	text-wrap: normal;	
}

@media (max-width: 320px) {
	.container {
		width: 100%;
		margin: 0;
	}
	h1 {
		width: 100%;
	}
	video {
		width: 100%;
		height: inherit;
	}
	article {
		margin: 240px 0 0 0;	
	}
}