<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Single</title>
<style type="text/css" media="screen">
	.wrap {
		margin: 0 10%;
	}
	header, footer {
		background: #ccc;
	}
</style>
</head>

<body>
	<div class="wrap">
    	<header>
        	<h1>This is the Header</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed augue eget dui tristique blandit vitae in urna. Nunc convallis sollicitudin consectetur. Nulla congue blandit fermentum. Donec fringilla bibendum euismod. Sed cursus urna erat. Maecenas sed eros sit amet nibh faucibus pretium quis ut urna. Quisque justo orci, tincidunt a malesuada ut, adipiscing eget ante.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed augue eget dui tristique blandit vitae in urna. Nunc convallis sollicitudin consectetur. Nulla congue blandit fermentum. Donec fringilla bibendum euismod. Sed cursus urna erat. Maecenas sed eros sit amet nibh faucibus pretium quis ut urna. Quisque justo orci, tincidunt a malesuada ut, adipiscing eget ante.
            </p>
        </section>
        <footer>
        <p>This is a Footer</p>
        </footer>
	</div>
</body>

</html>
